#!/bin/sh

CLASSPATH='{{ selenese_runner_java_extra_classpath
              | union([ "%s/selenese-runner.jar"|format(selenese_runner_java_jar_dir) ]) 
              | join(":") }}'
{% if ansible_os_family == "FreeBSD" %}
{%   if selenese_runner_java_version|version_compare('3.0.0','>=') %}
JAVA_VERSION="1.8+"
{%   elif selenese_runner_java_version|version_compare('2.0.0','>=') %}
JAVA_VERSION="1.7+"
{%   else %}
JAVA_VERSION="1.6+"
{%   endif %}
export JAVA_VERSION
{% endif %}

exec java -cp "$CLASSPATH" jp.vmi.selenium.selenese.Main "$@"
